@font-face {
    font-family: 'PaulistanaIpeRegular'; /* Choose a unique name for your font */
    src: url('./content/fonts/paulistana-ipe-font/PaulistanaIpeRegular-jyg0.ttf') format('truetype'); /* Adjust the path to your font file */
    /* You can also specify other font formats (e.g., woff, woff2) for better browser compatibility */
  }

:root{
    /* E6 colors */
    --e6_darkblue: #0e2f55;
    --e6_blue: #1e549a;
    --e6_yellow: #f4ba51;
    --e6_cream: #fef8e2;
  
    /* Default colors */
    --default_header_color: black;
    --default_text_color: black;
    --default_suggestion_info_text_color: black;
    --default_emphasize_color: lightgray;
  
    /* Main theme colors */
}

*{
    font-family: 'Courier New', Courier, monospace;
    color: var(--default_text_color);
}

textarea::placeholder {
  font-size: 20px; /* Set the font size you desire */
}

textarea{
  box-shadow:
  0px 3px 6px rgba(0, 0, 0, 0.16), /* First layer: Shadow below the element */
  0px -3px 6px rgba(0, 0, 0, 0.16), /* Second layer: Shadow above the element */
  3px 0px 6px rgba(0, 0, 0, 0.23), /* Third layer: Shadow to the right of the element */
  -3px 0px 6px rgba(0, 0, 0, 0.23); /* Fourth layer: Shadow to the left of the element */
  border-radius: 4px;
}

input{
  border-radius: 4px;
}

input:focus{
  background-color: var(--e6_cream);
  outline: none; /* Remove default focus outline */
}

textarea:focus {
  background-color: var(--e6_cream);
  outline: none; /* Remove default focus outline */
}

button{
  color: black;
  background-color: white;
  border: 1px black dotted;
}

button:active{
  background-color: var(--e6_cream);
}

li {
  color: #fff;
}

select{
  color: black;
}

option {
  color: black;
}









 

.floating-div {
  position: fixed;
  top: 5%; /* Initial position at the top */
  left: 55%; /* Initial position at the left */
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Ensure it's above other elements */
  resize: both; /* Enable resizing */
  overflow: hidden; /* Hide overflowing content during resizing */
  height: 25px;
  width: 553px;
  user-select: none;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.042); /* Background color with opacity */
  backdrop-filter: blur(10px); /* Blur effect for the content behind the element */
  display: block;
}

.resize-handle {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  cursor: nwse-resize;
} 

.drag-handle {
  cursor: grab;
}  

.height-transition{
  transition: height 0.5s ease;
}












.resizableDiv {
  position: fixed;
  bottom: 0; /* Align to the bottom */
  right: 0; /* Align to the left */
  background-color: var(--default_emphasize_color);
  background-color: rgba(0, 0, 0, 0.042); /* Background color with opacity */
  backdrop-filter: blur(10px); /* Blur effect for the content behind the element */
  width: 225px;
  height: 100%;
  overflow: hidden;
  border: 1px black solid;
}  


/* Style for the resizable handle */
.resizableHandleOutput {
  position: absolute;
  bottom: 0; /* Align to the bottom */
  left: 0; /* Align to the left */
  width: 5px; /* Width of the handle */
  height: 100%;
  cursor: col-resize; /* Set cursor to show resizing */
  z-index: 1; /* Make the handle above the div content */
  border-left: 2px black solid;
}  














.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
} 


.tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}  


.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}  




 











.fixContainer{
  font-size: 16px;
}  


.fixContainer textarea{
    background-color: var(--default_emphasize_color);
    border: 1px black solid;
    width: 276px; 
    height: 133px
} 




.infoContainer{
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Ensure it's above other elements */
  resize: both; /* Enable resizing */
  overflow: hidden; /* Hide overflowing content during resizing */
  height: 562px;
  width: 805px;
  user-select: none;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.042); /* Background color with opacity */
  backdrop-filter: blur(10px); /* Blur effect for the content behind the element */
  display: block;
  border: 1px solid black;
}

#infoContent{
  max-height: 90%; /* Adjust the height according to your needs */
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}







#inputText{
  width: 600px;
  height: 330px;
  color: black;
}  

#outputText{
  width: 100%;
  height: 80%;
  border-bottom: 2px black solid;
  font-size: 18px;
  color: black;
} 

#prefixText{
  background-color: rgba(0, 0, 0, 0.042); /* Background color with opacity */
  backdrop-filter: blur(10px); /* Blur effect for the content behind the element */
}

#suffixText{
  background-color: rgba(0, 0, 0, 0.042); /* Background color with opacity */
  backdrop-filter: blur(10px); /* Blur effect for the content behind the element */
}

#commandInput{
  border: 1px black solid;
  width: 926px; 
  height: 25px;
  font-size: 16px;
  text-align: left;
  color: black;
}

#filterInput{
  color: black;
}

#hideList{
  cursor: pointer;
}

#copyChecker{
  text-align: center;
} 

#autofillSuggestions{
  max-height: 90%; /* Adjust the height according to your needs */
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
}

#refl {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  -moz-transform: rotateX(210deg);
  -o-transform: rotateX(210deg);
  -webkit-transform: rotateX(210deg);
  transform: rotateX(210deg);
  perspective: 200px;
  -webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(20%, transparent), to(rgba(0, 0, 0, 0.4)));
  mask-image: none;
  user-select: none;
}



#toggleKeyListenerButton{
  background-color: rgba(50, 205, 50, .5);
}

#pageNavigationButtons{
  display: none;
}

#ascii-art-container {
  white-space: pre;
  font-family: monospace;
  font-size: 10px;
  overflow-y: hidden;
  overflow-x: auto;
  border: none;
  border-radius: 4px;
  user-select: text;
  background-color: white;
  color: black;
}

#credits{
  user-select: none;
}

#forTheFurInYou{
  cursor: pointer;
}

.title{
  font-size: 50px;
  font-family: 'PaulistanaIpeRegular', sans-serif;
  color: var(--default_header_color);
  -webkit-text-stroke: 1px var(--default_header_color);;
  text-shadow: 0px 1px 4px black;
} 

.copyButton{
  width: 100%;
  height: 50px;
}

#saveButton{
  width: 100%;
  height: 50px;
}

.warningText-verylight{
  background-color: rgba(0, 128, 0, 0.5)
}

.warningText-light{
  background-color: rgba(255, 255, 0, 0.5)
}

.warningText-mid{
  background-color: rgba(255, 165, 0, 0.5);
}

.warningText-high{
  background-color: rgba(255, 83, 73, 0.5)
}

.warningText-extreme{
  background-color: rgba(255, 0, 0, 0.5);
}

.activeStatus{
  color: green;
}

.deactiveStatus{
  color: red;
}

.colorSpan{
  user-select: text;
}



/* Add CSS rules for the hidden class to hide the element initially */
.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Add CSS rules for the fade-out effect using a transition */
.fade-out {
  transition: opacity 3s ease;
  opacity: 0;
}

.selected {
  background-color: var(--default_emphasize_color);
} 







/* Gradients */  

.gradient1 {
  background-image: linear-gradient(to left, #e0e9ff, #ffffff);
  background-color: white;
}

/* Dark Theme
.gradient1 {
  background-image: linear-gradient(to left, lightgray, gray);
  background-color: white;
}
*/

.gradient2 {
  background-image: linear-gradient(to left, transparent, var(--e6_darkblue)), url('./content/images/background.png');;
  background-color: var(--e6_darkblue);
}
  